/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #303030;
}



/* NAVIGATION CODES */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
}

header nav .logo {
  display: flex;
  align-items: center;
  cursor: default;
}

header nav .logo p {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

header nav .navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header nav .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

header nav .navbar .nav-hover .nav-item {
  position: relative;
}

header nav .navbar .nav-hover .nav-item a:hover {
  color: #16ff00;
}

header nav .navbar .nav-hover .nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #16ff00;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

header nav .navbar .nav-hover .nav-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

header nav .hamMenu {
  cursor: pointer;
  display: none;
}

header nav .hamMenu .menu1,
header nav .hamMenu .menu2,
header nav .hamMenu .menu3 {
  width: 35px;
  height: 4px;
  border-radius: 15px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s;
}



/* MAIN SECTION CODES */
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}



/* SECTION HOME CODES */
main #home .first-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 85%;
}

main #home .first-wrapper .left-side .title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

main #home .first-wrapper .left-side .typing-effect .text {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

main #home .first-wrapper .left-side .typing-effect .text.sec-text {
  color: #16ff00;
}

main #home .first-wrapper .left-side .typing-effect .text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #303030;
  border-left: 2px solid #000;
  animation: animate 4s steps(12) infinite;
}

main #home .first-wrapper .left-side .deskripsi {
  width: 700px;
  margin-top: 10px;
  color: #ccc;
  font-size: 20px;
}

main #home .first-wrapper .left-side .contact {
  padding: 10px 60px;
  margin-top: 30px;
  background-color: #16ff00;
  border: none;
  border-radius: 20px;
  color: #303030;
  font-size: 20px;
  font-weight: bold;
}

main #home .first-wrapper .left-side .contact:hover {
  opacity: 0.8;
}



/* SECTION ABOUT CODES */
main #about .second-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 65vh;
}

main #about .second-wrapper .heading-about {
  color: #16ff00;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 100px;
}

main #about .second-wrapper .quest {
  background-color: #252525;
  width: 100%;
  height: 100%;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: default;
}

main #about .second-wrapper .quest .qna {
  width: 100%;
  cursor: pointer;
}

main #about .second-wrapper .quest .qna .question {
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

main #about .second-wrapper .quest .qna .answer {
  position: relative;
  font-size: 18px;
  padding: 0 10px;
  color: #ccc;
  display: none;
}

main #about .second-wrapper .quest .qna .answer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #16ff00;
  border-radius: 50px;
}

main #about .second-wrapper .quest .qna .garis {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}



/* SECTION PROJECT CODES */
main #projects .third-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 65vh;
}

main #projects .third-wrapper .heading-projects {
  color: #16ff00;
  font-size: 28px;
  font-weight: bold;
}

main #projects .third-wrapper .project-card {
  align-items: start;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

main #projects .third-wrapper .project-card .card-item {
  width: 400px;
  margin: 0 20px;
  background-color: #252525;
  height: 370px;
  color: #fff;
  border-radius: 0 0 20px 20px;
}

main #projects .third-wrapper .project-card .card-item img {
  border-radius: 0 0 20px 20px;
}

main #projects .third-wrapper .project-card .card-item .desk-card {
  padding: 20px;
}

main #projects .third-wrapper .project-card .card-item .desk-card .header-card {
  color: #16ff00;
  font-weight: bold;
  font-size: 20px;
}

main #projects .third-wrapper .project-card .card-item .desk-card .deskripsi-card {
  font-size: 14px;
  margin-top: 5px;
}

main #projects .third-wrapper .github {
  background-color: #252525;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 5px solid #16ff00;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}



/* SECTION CONTACT CODES */
main #contact .four-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 65vh;
}

main #contact .four-wrapper .heading-contact {
  color: #16ff00;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

main #contact .four-wrapper .desk-contact {
  color: #fff;
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
}

main #contact .four-wrapper .contact-card {
  align-items: center;
  justify-content: center;
  display: flex ;
  margin-top: 20px;
}

main #contact .four-wrapper .contact-card .media-social {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin: 0 40px;
  background-color: #252525;
  width: 280px;
  height: 200px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 5px solid #16ff00;
}



/* FOOTER CODES */
footer {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #212121;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #16ff00;
}

.none {
  display: none;
}



/* ANIMATION */
.change .menu1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .menu2 {
  opacity: 0;
}

.change .menu3 {
  transform: translate(0, -9px) rotate(45deg);
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}



/* RENSPONSIVITAS */
@media (max-width: 768px) {
  header nav .hamMenu {
    display: block;
  }

  header nav .navbar {
    background-color: #252525;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 45px;
    left: 0;
    align-items: center;
    display: none;
    justify-content: center;
  }

  header nav .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav .navbar ul li a {
    font-size: 26px;
  }

  main #home .first-wrapper {
    flex-direction: column;
  }

  main #home .first-wrapper .left-side .title {
    font-size: 26px;
  }

  main #home .first-wrapper .left-side .typing-effect {
    display: none;
  }

  main #home .first-wrapper .left-side .deskripsi {
    display: none;
  }

  main #home .first-wrapper .left-side .contact {
    display: none;
  }

  main #home .first-wrapper .right-side img {
    width: 220px;
    margin-top: 20px;
  }

  main #home .first-wrapper .left-side .deskripsi {
    margin-top: 10px;
    width: 360px;
    font-size: 16px;
    text-align: center;
  }

  main #about .second-wrapper .heading-about {
    margin-top: -100px;
  }

  main #about .second-wrapper .quest .qna .question p {
    font-size: 16px;
  }

  main #about .second-wrapper .quest .qna .answer p {
    font-size: 14px;
  }

  main #projects .third-wrapper {
    margin-top: 600px;
  }

  main #projects .third-wrapper .heading-projects {
    margin-bottom: 20px;
  }

  main #projects .third-wrapper .project-card {
    flex-direction: column;
  }

  main #projects .third-wrapper .project-card .card-item {
    margin-top: 20px;
  }

  main #projects .third-wrapper .github {
    text-align: center;
  }
  main #contact {
    height: 250vh;
  }

  main #contact .four-wrapper {
    margin-top: 580px;
  }

  main #contact .four-wrapper .heading-contact {
    margin-bottom: 20px;
  }

  main #contact .four-wrapper .contact-card {
    flex-direction: column;
  }

  main #contact .four-wrapper .contact-card .media-social {
    margin-top: 20px;
  }

  .none {
    display: flex;
    color: #ccc;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
  }
}