/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #303030;
}

/* Aturan untuk bagian navigation */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.logo p {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.nav-item {
  position: relative;
}

.nav-item a:hover {
  color: #16ff00;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #16ff00;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.hamMenu {
  cursor: pointer;
  display: none;
}

.menu1,
.menu2,
.menu3 {
  width: 35px;
  height: 4px;
  border-radius: 15px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s;
}

.change .menu1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .menu2 {
  opacity: 0;
}

.change .menu3 {
  transform: translate(0, -9px) rotate(45deg);
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#home .first-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 85%;
}

.title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.typing-effect .text {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.text.sec-text {
  color: #16ff00;
}

.text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #303030;
  border-left: 2px solid #000;
  animation: animate 4s steps(12) infinite;
}

.deskripsi {
  width: 700px;
  margin-top: 10px;
  color: #ccc;
  font-size: 20px;
}

.contact {
  padding: 10px 60px;
  margin-top: 30px;
  background-color: #16ff00;
  border: none;
  border-radius: 20px;
  color: #303030;
  font-size: 20px;
  font-weight: bold;
}

.contact:hover {
  opacity: 0.8;
}

#about .second-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 65vh;
}

#about .second-wrapper .heading-about {
  color: #16ff00;
  font-size: 28px;
  font-weight: bold;
}

#about .second-wrapper .quest {
  background-color: #252525;
  width: 100%;
  height: 100%;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: default;
}

#about .second-wrapper .quest .qna {
  width: 100%;
  cursor: pointer;
}

#about .second-wrapper .quest .qna .question {
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

#about .second-wrapper .quest .qna .answer {
  position: relative;
  font-size: 18px;
  padding: 0 10px;
  color: #ccc;
  display: none;
}

#about .second-wrapper .quest .qna .answer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #16ff00;
  border-radius: 50px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.garis {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

/* ANIMATION */
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

/* RENSPONSIVITAS */
@media (max-width: 768px) {
  .hamMenu {
    display: block;
  }

  .navbar {
    background-color: #252525;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 45px;
    left: 0;
    align-items: center;
    display: none;
    justify-content: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar ul li a {
    font-size: 26px;
  }

  .first-wrapper {
    flex-direction: column;
  }

  .title {
    font-size: 26px;
  }

  .typing-effect {
    display: none;
  }

  .deskripsi {
    display: none;
  }

  .contact {
    display: none;
  }

  .right-side img {
    width: 220px;
    margin-top: 20px;
  }

  .deskripsi {
    margin-top: 10px;
    width: 360px;
    font-size: 16px;
    text-align: center;
  }

  .none {
    display: flex;
  }

  .flex {
    display: flex;
  }
}